<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button *ngIf="showHomeButton" href="/"><ion-icon name='home'></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Edit campaign</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="itemForm" *ngIf="itemForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item-group>
        <ion-item>
          <ion-text color="secondary">
            <h1>Campaign details</h1>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Title <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required clearInput type="text" name="title" formControlName="title" [value]="item.title">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Town prosperity <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required clearInput type="number" name="townProsperity" formControlName="townProsperity"
            [value]="item.townProsperity">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Reputation <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required clearInput type="number" name="reputation" formControlName="reputation"
            [value]="item.reputation">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Current Scenario <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required clearInput type="number" name="currentScenario" formControlName="currentScenario"
            [value]="item.currentScenario">
          </ion-input>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item>
          <ion-text color="secondary">
            <h1>Players</h1>
          </ion-text>
        </ion-item> 
        <ion-item-divider color="light">
          <ion-button slot="start" *ngIf="campaign" [disabled]="campaign.players.length >=4" (click)="addPlayer()">
            <ion-icon slot="icon-only" name="add-circle" slot="end"></ion-icon>
            Add
          </ion-button>
        </ion-item-divider>
        <ion-item *ngIf="campaign">

          <ion-card *ngFor="let player of campaign.players;" >
            <ion-card-header>
              <ion-card-title>{{ player.name }}</ion-card-title>
              <ion-card-subtitle>{{ player.character }} lvl {{ player.level }}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-buttons>
                <ion-button (click)="deletePlayer(player.id)">delete</ion-button>
                <ion-button routerLink="/player/edit/{{player.id}}">edit</ion-button>
              </ion-buttons>
            </ion-card-content>
          </ion-card>


        </ion-item>       
      </ion-item-group>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-button expand="block" type="submit" (click)="submit()" [disabled]="!itemForm.valid || isSubmitting">
    Update campaign
  </ion-button>
</ion-footer>