<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gloomhaven Campaign tracker demo
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/campaign/add"><ion-icon name='add'></ion-icon></ion-button>
      <ion-button (click)="getCampaigns()"><ion-icon name='reload'></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let campaign of campaigns;">
    <ion-card-header>
      <ion-card-title>{{ campaign.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>townprosperity</ion-label>
          <ion-text>{{ campaign.townProsperity }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>reputation</ion-label>
          <ion-text>{{ campaign.reputation }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>current scenario</ion-label>
          <ion-text>{{ campaign.currentScenario }}</ion-text>
        </ion-item>
      </ion-list>

      <ion-buttons>
        <ion-button (click)="deleteCampaign(campaign.id)">delete</ion-button>
        <ion-button routerLink="/campaign/edit/{{campaign.id}}">edit</ion-button>
      </ion-buttons>
    </ion-card-content>

  </ion-card>
</ion-content>
