<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Phero Angular Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-text color="primary">
        <h2>What is your name?</h2>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input required clearInput type="text" name="title" [(ngModel)]="name">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="go()">go</ion-button>
    </ion-item>
    <ion-item *ngIf="message">
      <h3>{{ message }}</h3>
    </ion-item>
  </ion-list>

</ion-content>
